name: Build and test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  linting:
    name: Linting
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version:
          - 3.9
          - "3.10"
    steps:
      - uses: actions/checkout@v3
      - name: Install and check with black, pylint and pontos.version
        uses: greenbone/actions/lint-python@v2
        with:
          packages: greenbone tests
          version: ${{ matrix.python-version }}

  test:
    name: Run all tests
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version:
          - 3.9
          - "3.10"
          - "3.11"
    steps:
      - uses: actions/checkout@v3
      - name: Install python, poetry and dependencies
        uses: greenbone/actions/poetry@v2
        with:
          version: ${{ matrix.python-version }}
      - name: Run unit tests
        run: poetry run python -m unittest
